:root {
    --cgrena: #8b2439;
    --cgreen: #446127;
    --corange: orange;
    --cwhite: white;
    --cwhite1: #8b2439;
    --cwhite2: #446127;
    --cwhite3: #446127;
    --inverted-clock: false;
    --width: 352px;
    --height: 352px;
}
#clock,
#handles {
    border: 5px solid #8b2439;
    padding: 20px;
    margin: 0px;
}
.clock-container {
    height: var(--height);
    position: relative;
    margin-bottom: 40px;
}
#flu {
    width: var(--width);
    font-family: cursive;
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    margin-left: 20px;
}
canvas {
    position: absolute;
}
#handles {
    z-index: 2;
}
#legend {
    z-index: 1;
}
#clock {
    background-color: antiquewhite;
    z-index: 1;
}
#handles:hover {
    transform: scaleX(-1);
    --inverted-clock: true;
}
button {
    font-size: 200%;
    padding: 0 10px;
}
#player {
    background-image: url("/cwdc/mainPage/IMAGEM/stone/yell_roc.jpg");
}
#address {
    width: var(--width);
    margin-bottom: 3em;
    text-align: center;
    font-size: small;
    height: 5em;
}
.sideBySide button {
    font-size: 100%;
    margin: 0px 20px 40px 20px;
    padding: 10px 10px;
}
.tzone {
    width: var(--width);
    text-align: center;
}

.player {
    margin-left: -20px;
}
iframe,
.video,
video {
    width: auto;
    text-align: justify;
    margin-left: -20px;
}

div > iframe,
div > video {
    margin-top: 2em;
}
