:root {
    --cgrena: #696969;
    --cgreen: #446127;
    --corange: orange;
    --cwhite: white;
    --cwhite1: white;
    --cwhite2: white;
    --cwhite3: #000000;
    --inverted-clock: false;
    --width: 503px;
    --height: 352px;
    --cpadd: 10px;
}
#clock,
#handles {
    border: 5px solid #8b2439;
    padding: var(--cpadd);
    margin: 0px;
}
.clock-container {
    width: calc(var(--width) + 2 * var(--cpadd));
    height: calc(var(--height) + 2 * var(--cpadd));
    position: relative;
    margin-bottom: calc(var(--cpadd) + var(--width) * 6 / 100);
}
#flu {
    width: calc(var(--width) + 2 * var(--cpadd));
    font-family: cursive;
    text-align: center;
    font-size: calc(var(--width) * 8 / 100);
}
canvas {
    position: absolute;
}
#handles {
    z-index: 2;
}
#legend {
    z-index: 1;
}
#clock {
    background: url("./flag2.jpg");
    background-size: cover;
    z-index: 1;
}
#handles:hover {
    transform: scaleX(-1);
    --inverted-clock: true;
}
button {
    font-size: 200%;
    padding: 0 10px;
}
#player {
    background-image: url("/cwdc/mainPage/IMAGEM/stone/yell_roc.jpg");
}
#address {
    width: var(--width);
    margin-bottom: 3em;
    text-align: center;
    font-size: calc(var(--width) * 4 / 100);
    height: 5em;
}
.sideBySide button {
    font-size: 100%;
    margin: 0px 20px 40px 20px;
    padding: 10px 10px;
}
.tzone {
    width: var(--width);
    text-align: center;
    margin: 0 auto;
}
.sideBySide.tzone {
    margin: 0;
}

.player {
    margin-left: -20px;
}
iframe,
.video,
video {
    width: auto;
    text-align: justify;
    margin-left: -20px;
}

div > iframe,
div > video {
    margin-top: 2em;
}
