:root {
    --cgrena: #8b2439;
    --cgreen: #446127;
    --corange: orange;
    --cwhite: white;
    --cwhite1: #8b2439;
    --cwhite2: #446127;
    --cwhite3: #446127;
    --inverted-clock: false;
    --width: 480px;
    --height: 480px;
    --cpadd: 20px;
}
#clock,
#handles {
    border: 5px solid #8b2439;
    padding: var(--cpadd);
    margin: 0px;
}
.clock-container {
    width: var(--width);
    height: var(--height);
    position: relative;
    margin-bottom: calc(var(--cpadd) + 40px);
}
#flu {
    width: calc(var(--width) + 2 * var(--cpadd));
    font-family: cursive;
    text-align: center;
    font-size: calc(var(--width) * 8 / 100);
    margin-bottom: 10px;
}
canvas {
    position: absolute;
}
#handles {
    z-index: 2;
}
#legend {
    z-index: 1;
}
#clock {
    background-color: antiquewhite;
    z-index: 1;
}
#handles:hover {
    transform: scaleX(-1);
    --inverted-clock: true;
}
.btnz {
    font-size: 150%;
    background-color: whitesmoke;
    color: black;
    border: none;
    width: 2rem;
    height: auto;
    margin: 0 10px;
    padding: 0px 5px;
    text-align: center;
    text-decoration: none;
    border-radius: 10%;
    touch-action: manipulation;
}
#player {
    background-image: url("/cwdc/mainPage/IMAGEM/stone/yell_roc.jpg");
}
#address {
    width: var(--width);
    margin-bottom: 3em;
    text-align: center;
    font-size: calc(var(--width) * 4 / 100);
    height: 5em;
}
.sideBySide button {
    font-size: 100%;
    margin: 0px 10px 40px 10px;
    padding: 10px 10px;
}
.tzone {
    width: var(--width);
    text-align: center;
}
.sideBySide.tzone {
    margin: 0;
}

.player {
    margin-left: -20px;
}
iframe,
.video,
video {
    width: auto;
    text-align: justify;
    margin-left: -20px;
}

div > iframe,
div > video {
    margin-top: 2em;
}
