dir.php
doxygen.err
Doxyfile
.DS_Store
*.bak
.rsync
.env*
*.swp
.htaccess
vendor
.vercel
composer*
# Dependency directories
node_modules/
*.log
package-lock.json
*.pyc
*.err
__pycache__
CVS
downloads/python/labs/doc
downloads/python/labs2/doc
downloads/python/labs2/Interfaces
downloads/python/labs2/ISU/**/doc
