:root {
    --canvasimgw: 384px;
    --canvasw: 900px;
    --canvasw: 900px;
    --canvash: 600px;
    --mleft: 10px;
    --tline: 95%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
    overflow-x: hidden;
}
.container {
    width: var(--canvasw);
    margin: 0 auto;
}
#theCanvas {
    width: var(--canvasw);
    height: var(--canvash);
    margin-left: var(--mleft);
    cursor: crosshair;
}
#interface {
    width: var(--canvasw);
    margin-left: calc(var(--mleft) + 20px);
    margin-bottom: 20px;
}
.btns {
    width: 41%;
    margin-bottom: 2em;
}
.lbtns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
label,
#models,
#locInfo {
    font-size: x-large;
    line-height: 200%;
}
#models {
    font-size: 240%;
    width: 100%;
}
#legenda {
    float: right;
    width: fit-content;
    margin: 0 10px 0 0;
    text-align: center;
}
.imgcontainer {
    position: relative;
    width: fit-content;
    touch-action: manipulation;
    cursor: crosshair;
}
#canvasimg {
    position: absolute;
    width: fit-content;
    top: 0px;
    left: 0px;
    pointer-events: none;
    z-index: 1;
}
.sideBySide {
    float: left;
    margin-right: 60px;
}
.sideBySide:nth-last-child(1) {
    margin-right: 0;
    padding-right: 0;
}
#models,
#country,
#screenshot,
button {
    border: 0px;
    outline: 0px;
    border-radius: 8px;
    background-color: lightsteelblue;
    color: black;
    height: 2em;
    padding: 0 40px;
    margin: 5px 0.25em 5px 0;
    touch-action: manipulation;
}
#country,
#screenshot {
    font-size: 200%;
    padding: 0 30px 0 10px;
}
.btlevel {
    font-size: 250%;
}
label {
    margin-right: 40px;
}
.lbllatlon {
    margin: 0 0 0 25px;
}
.dms {
    height: 30px;
    flex: 0 0 200px;
    margin: 0 0 0 5px;
    width: 170px;
    font-size: 20px;
}
.checkbox {
    column-count: 2;
    width: 50em;
    list-style: none;
    margin-right: 0;
    padding: 0;
}
#tooltip,
#canvastip {
    position: absolute;
    z-index: 2;
    background-color: rgba(300 300 300 / 0.5);
    color: black;
    padding: 3px;
    font-size: small;
    display: none;
    pointer-events: none;
}
#cls,
#anim,
#print {
    font-size: 200%;
    padding: 10px;
}
datalist {
    display: flex;
    justify-content: space-between;
    margin: 0.5em 0;
    color: red;
    width: var(--tline);
}
#options {
    padding: 0;
}
#object {
    margin-right: 0;
}
#size {
    margin-bottom: 3px;
}
figure {
    margin: 0 15px 10px 0;
}
#lblTimeline {
    margin-left: 5em;
    font-size: 150%;
    font-style: italic;
}
#lbltexture {
    margin-right: 20px;
}
#textimg {
    width: var(--canvasimgw);
}
#sites,
#doc {
    margin-top: 2em;
    padding: 0;
    font-size: 150%;
    font-style: italic;
    color: darkblue;
    width: fit-content;
    text-align: center;
}
#textures {
    font-size: 120%;
    background-color: wheat;
    color: black;
    border: solid 5px lightsteelblue;
    border-radius: 10%;
}
#timeline {
    width: var(--tline);
    accent-color: #ff5733;
}
summary {
    font-size: 200%;
}
ul {
    list-style: none;
    padding-left: 2em;
}
form {
    margin-top: 50px;
}
.clear_both {
    clear: both;
}
