body {
    background-color: #f0f0f2;
    margin: 30px;
    display: none;
}
.box {
    text-align: center;
    background-color: #fbefdf;
    border: 1px solid black;
    box-shadow: 8px 8px 6px grey;
    padding: 20px;
}
#message {
    text-align: center;
    font-size: 10px;
    padding-top: 1em;
}
input[type="text"],
input[type="number"],
textarea {
    background-color: #d1d1d1;
    font-size: 10px;
}
.button {
    font-size: 13px;
    color: red;
    background-color: #f8fad7;
}
.button:hover {
    background-color: #fadad7;
}
#draggable {
    cursor: n-resize;
}
#romanfieldset {
    cursor: move;
}
