body {
    font-family: sans-serif;
}

#shape {
    width: 200px;
    height: 200px;
    background-color: red;
    display: none;
    position: relative;
}

p {
    font-size: 150%;
}

p.bold {
    font-weight: bold;
}
