table,
td,
th {
    border: 0px solid #ddd;
    text-align: center;
}
table {
    border-collapse: collapse;
    border-style: none;
    width: 50%;
}
/* table header and data */
th,
td {
    text-align: center;
    padding: 45px;
}
/* break paragraphs */
.psmall {
    width: 70%;
}
/* links without underlining */
a {
    text-decoration: none;
    display: inline-block;
}
/* unvisited link */
a:link {
    color: blue;
}
/* color for visited links */
a:visited {
    color: green;
}
/* when mouse passes over a link */
a:hover {
    text-decoration: underline;
}
/* color for clicked links */
a:active {
    background-color: red;
}
div {
    width: 800px;
    text-align: justify;
    margin-left: 20px;
}

.button {
    background-color: #9aafb2;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #f0f8ff;
    border: #005cb9 solid;
    border-radius: 50%;
    margin: 4px 2px;
    padding: 10px;
}

body {
    background-color: white;
    background-image: url("/roma/txt/IMAGEM/stone/yell_roc.jpg");
    text-decoration-color: black;
}
