.card-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: flex-start;
}

.card {
    background: white;
    border: 1px solid black;
    border-radius: 0.25rem;
    padding: 0.5rem;
    transform: translate(100px);
    opacity: 0;
    transition: 150ms;
}

.card.show {
    transform: translate(0);
    opacity: 1;
}

.scroller {
    margin-top: 50px;
    height: 50vh;
    width: 100%;
    overflow: auto;
    /*border: 4px solid rgb(20, 20, 120);*/
}
